:root {
  --rows: 8;
  --columns: 8;
  --width: 15rem;
  --height: 15rem;
  --gap: 6%;
  --color: #00ffff;
}

.grid {
  width: var(--width);
  height: var(--height);
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);
}

.squares {
  background-color: var(--color);
}

.rotating {
  animation: rotate 2s ease infinite;
}

.circ {
  overflow: hidden;
  border-radius: 50%;
}

.trig {
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.rho {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.pent {
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.hex {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hept {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.oct {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

.nan {
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
}

.dec {
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
